@import "tailwindcss";

@keyframes geminiSpin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  30% {
    transform: rotate(360deg) scale(1.1);
  }

  60% {
    transform: rotate(540deg) scale(0.95);
  }

  100% {
    transform: rotate(1080deg) scale(1);
  }
}

.animate-gemini-spin {
  animation: geminiSpin 4s ease-in-out infinite;
}
@keyframes orbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-orbit {
  animation: orbit 4s linear infinite;
}
/* @keyframes geminiSpin {
  0% {
    transform: rotate(0deg) scale(0.8);
  }

 
  25% {
    transform: rotate(180deg) scale(1.15);
  }

  
  50% {
    transform: rotate(360deg) scale(1.35);
  }

 
  75% {
    transform: rotate(540deg) scale(1.05);
  }

  
  100% {
    transform: rotate(1080deg) scale(1);
  }
}

.animate-gemini-spin {
  animation: geminiSpin 4s ease-in-out infinite;
} */
